.ui-datatable 
    tr.ui-state-highlight {
    background-image: none;
    background-color: #ffc107 !important;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    visibility: hidden;
    display: none;
}

.myownclass  tr.ui-state-highlight {
    background-color: #fff !important;
}

