/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-02-2020, 09:44:04 AM
    Author     : McNerio
*/


.bg-custom1{
    background-color:  #1d2e42 !important;
}

.bg-cumtom2{
    background-color:  #fc790e !important;
}

[class*="sidebar-dark-"] .sidebar a{
    color: white !important;
}

.main-header .nav-link{
    display: flex !important;
    align-items: center;
}


.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active{
    background-color: #36485ed1 !important;
    color: white !important;
}

.icon1{
    font-size: 1.5rem;
    color: dodgerblue;
}

.containerCustom1{
    margin: 5px;
    padding: 5px;
    border: 1px solid dodgerblue;
    border-radius: 8px;
}

.p-hidden{
    overflow: hidden;
}

.cortarTexto{

    /* Responsável pelo efeito de texto limitado */
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {

    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #3085d6;
    display: inline-block;
}

.label:hover {
    transition-delay:  0.1s;
    background-color: #0062cc;
    cursor: pointer;
}

/*.ui-datatable * {
    border : 1px;
}

table {
    width: 100% !important; 
    border-collapse: collapse !important;
}

table td {
    border-left: 0px solid #000 !important;
    border-right: 0px solid #000 !important;
    border-bottom: 1px solid #ccc !important;
    padding: 10px 18px !important;
    box-sizing: content-box !important;
}

table tr{
    color: #666 !important;
    font-weight: normal !important;
    font-size: 15px !important;
}

table tr:hover {
    background: #ffef8f !important;
    border-left: 0px solid #000 !important;
}


table th {
    border: 0px solid #ccc !important;
    font-size: 15px !important;
    color: #000 !important;
    background: #fff !important;
    border-left: 0px solid #000 !important;
    border-right: 0px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

@media only screen and (max-width: 300px) {
    .control-sidebar{
        width: 100vw;
    }
}

.ui-datepicker{
    width: 100%;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
}

.ui-datepicker .ui-widget-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #888888;
    background: #ffffff;
    font-weight: normal;
    color: #000000; 
}

.ui-datepicker-calendar > tr > td{
    background: #ccc;
}*/
.img-center-round{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: 1px solid gray;
}

.m-none{
    margin: 0px !important;
}

.mt-custom1{
    margin: 5px 0px !important;
}

.btn-ct{
    padding: 5px !important;
    font-size: 0.8rem !important;
    border-radius: 5px;
}

.btn-ct:disabled{
    cursor: not-allowed;
}

.btn-ct-success, .btn-ct-success:disabled:hover{
    color: white;
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
}

.btn-ct-success:hover{
    border: 1px solid #5cb85c;
    background-color: white;
    color: #5cb85c;
}


.btn-ct-warning, .btn-ct-warning:disabled:hover{
    color: white;
    border: 1px solid #f77b03;
    background-color: #f77b03;
}

.btn-ct-warning:hover{
    border: 1px solid #f77b03;
    background-color: white;
    color: #f77b03;
}

.btn-ct-secondary, .btn-ct-secondary:disabled:hover{
    color: gray;
    border: 1px solid #ddd;
    background-color: #ddd;
}

.btn-ct-secondary:hover{
    border: 1px solid #ddd;
    background-color: white;
}


.btn-ct-danger, .btn-ct-danger:disabled:hover{
    color: white;
    border: 1px solid tomato;
    background-color: tomato;
}

.btn-ct-danger:hover{
    border: 1px solid tomato;
    background-color: white;
    color: tomato;
}

.btn-ct-success:disabled, .btn-ct-warning:disabled, 
.btn-ct-danger:disabled, .btn-ct-secondary:disabled{
    opacity: 0.5;
    cursor: not-allowed !important;
}


.selected{
    background-color: rgb(245, 245, 245);
    color: dodgerblue;
}

table.clobi-style tbody tr{
    cursor: pointer;
}

.small-box-custom1 .icon > i.fas{
    font-size: 50px;
    top: 20px;
}

.small-box-custom1 .icon > i {
    position: absolute;
    right: 15px;
    transition: all .3s linear;
}
.small-box-custom1 .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}

.small-box-custom1 h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
    z-index: 5;
}

.small-box-custom1 {
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 10px;
    position: relative;
    color: white;
}

.small-box-custom1 > .inner {
    padding: 5px;
}

.text-pink{
    color: #e83e8c;
}

.text-purple{
	color: #563d7c;
}

.br-none{
	border-radius: 0px !important; 
}

table.pth-0 th{
	padding: 0px 5px !important;
}

.circle{
	width: 20px; 
	height: 20px; 
	border-radius: 50%;
}

.circle.activeOpe{
	background-color: green;
}

.circle.activeEnd{
	background-color: rgb(105, 104, 104);
}

.card-custom{
	overflow: hidden !important;
}

.modal-footer-custom1{
	border-top: 0px !important;
	padding: 0px !important;
}

.swal2-toast {
	background-color: white !important;
}


